*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height:100vh;
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
    padding: 10px;
}
.todo-app{
    width:100%;
    max-width: 540px;
    background: #a248c8;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;
}
.todo-app h1{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e1b4f4;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border:none;
    outline: none;
    padding: 16px 50px;
    background: #4b0469;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height:25px;
    width:25px;
    border-radius: 50%;
    background-image: url(images/circle-regular.svg);
    background-size: cover;
    background-position: center;
    top: 11px;
    left:8px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/check-solid.svg);
}
